<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhao.bookdb.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.lhao.bookdb.bean.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="uName" column="u_name" jdbcType="VARCHAR"/>
            <result property="pwd" column="pwd" jdbcType="CHAR"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,u_name,pwd,
        state
    </sql>
</mapper>
